
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a class="active-menu" href="index.html"><i class="fa fa-dashboard "></i>İstatistik</a>
            </li>
        
            <li>
                <a href="/Admin/CarList"><i class="fa-regular fa-cars fa-xl" style="color: #ffffff;"></i>Filom </a>

            </li>
            <li>
                <a href="/Admin/Index/"><i class="fa-regular fa-calendar-check fa-xl"></i>Müsait Araçlar</a>
            </li>
            <li>
                <a href="/Admin/IndexRed/"><i class="fa-regular fa-calendar-clock fa-xl"></i>Kirada Olanlar</a>
            </li>
          
        </ul>

    </div>

</nav>
